@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@400;700;900&display=swap');


/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */
header, main {
    max-width: 1020px;
    margin: 0 auto;
}
.container1 {
    max-width: 846px;
    margin: 0 auto;
}
header ul {
    margin: 100px 87px 32px 0;
}
header li {
    display: inline-block;
    height: 18px;
}
.img1 {
    margin: 0 10px 0 0;
}
.img1 img {
    display: block;
}
.text1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #4B4B4B;
}
h1 {
    max-width: 583px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
    margin: 0 0 36px 0;
    color: #02133C;
    line-height: 110%;
}
.text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    line-height: 150%;
    margin: 0 0 60px 0;
    
}
.img2 {
    margin: 0 0 50px 0;
}
.block1 {
    max-width: 324px;
    min-height: 340px;
    margin: 0 auto;
}
.block2 {
    margin: 0 0 24px 0;
    border: 1px solid #4B4B4B;
}
.block3 {
    margin: 50px 44px 50px 43px;
}
.block3 img {
    display: block;
    margin: 0 auto 33px auto;
}
.block3 h3 {
    font-size: 19px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    color: #02133C;
    font-weight: 900;
    text-align: center;
    margin: 0 0 20px 0;
}
.block3 p {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4B4B4B;
    letter-spacing: 0.15px;
    text-align: center;
}
.container2 {
    max-width: 1039px;
    margin: 0 auto 50px auto;    
}
.text3 h2 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 48px;
    margin: 0 0 26px 0;
}
.text3 h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 36px;
    margin: 0 0 40px 0;
}
.text3 h4 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 20px 0;
}
.text3 p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 20px 0;
}
.text3 ul {
    margin: 0 0 20px 0;
}
.text3 li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 26px;
}
.block4 {
    max-width: 557px;
    min-height: 497px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
}
.block5 {
    margin: 70px 46px;
    
}
.block5 img {
    margin: 0 0 9px 0;
}
.block5 h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 58.3px;
    margin: 0 0 25px 0;
}
.block5 p {
    max-width: 436px;
    font-size: 18px;
}